:root {
    --color: #e6007e;
    --text: rgb(185, 185, 185)
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);
}

.content {
    width: 100vw;
    height: 100vh;
}

.content,
.logo {
    display: flex;
    flex-flow: row wrap;
}

.picture {
    background-image: url(./img/odin-background.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

.odin-logo {
    height: 10vh;
}